@model BE.persona
<main>

    <div id="default-validation" class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">Programación</h4>
                    <div class="row">

                        <div class="input-field col s12 m4 l4">
                            @Html.DropDownList("cboEspecialidad")
                            <label for="Medico_MedicoId">Especialidad</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            @Html.DropDownList("cboPersona")
                            <label for="Persona_PersonaId">Nombre</label>
                        </div>

                        <div class="input-field col s12 m4 l4">
                            @Html.DropDownList("cboConsultorio")
                            <label for="Consultorio_ConsultorioId">Consultorio</label>
                        </div>

                    </div>
 


                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">HORARIO</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Lunes" id="chbLunes" type="checkbox" />
                                    <label for="chbLunes">Lunes</label>
                                </div>
                                <div v-show="programacion.Lunes == true">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Martes" id="chbMartes" type="checkbox" />
                                    <label for="chbMartes">Martes</label>
                                </div>
                                <div v-show="programacion.Martes">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Miercoles" id="chbMiercoles" type="checkbox" />
                                    <label for="chbMiercoles">Miércoles</label>
                                </div>
                                <div v-show="programacion.Miercoles">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Jueves" id="chbJueves" type="checkbox" />
                                    <label for="chbJueves">Jueves</label>
                                </div>
                                <div v-show="programacion.Jueves">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Viernes" id="chbViernes" type="checkbox" />
                                    <label for="chbViernes">Viernes</label>
                                </div>
                                <div v-show="programacion.Viernes">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Sabado" id="chbSabado" type="checkbox" />
                                    <label for="chbSabado">Sabado</label>
                                </div>
                                <div v-show="programacion.Sabado">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4 l2">
                                    <input v-model="programacion.Domingo" id="chbDomingo" type="checkbox" />
                                    <label for="chbDomingo">Domingo</label>
                                </div>
                                <div v-show="programacion.Domingo">
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Inicio</label>
                                    </div>
                                    <div class="input-field col s12 m4 l5">
                                        <select>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                        <label>Hora Final</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script>


        $(function () {
            $(".datepicker").pickadate({
                selectMonths: !0, selectYears: 50, format: 'dd/mm/yyyy',

            })
        });

        var vprogramacion = new Vue({
            el: 'main',
            data: {
                programacion:{},
                options: [
                  { text: '8:00 A.M.', value: 'A' },
                  { text: '8:30 A.M.', value: 'B' },
                  { text: '9:00 A.M.', value: 'C' },
                  { text: '9:30 A.M.', value: 'C' },
                  { text: '10:30 A.M.', value: 'C' },
                  { text: '11:00 A.M.', value: 'C' },
                  { text: '11:30 A.M.', value: 'C' },
                  { text: '12:00 A.M.', value: 'C' },
                  { text: '12:30 P.M.', value: 'C' },
                  { text: '1:00 P.M.', value: 'C' },
                  { text: '1:30 P.M.', value: 'C' },
                  { text: '2:00 P.M.', value: 'C' },
                  { text: '2:30 P.M.', value: 'C' },
                  { text: '3:00 P.M.', value: 'C' },
                  { text: '3:30 P.M.', value: 'C' },
                  { text: '4:00 P.M.', value: 'C' },
                  { text: '4:30 P.M.', value: 'C' },
                  { text: '5:00 P.M.', value: 'C' },
                  { text: '5:30 P.M.', value: 'C' },
                  { text: '6:00 P.M.', value: 'C' },
                  { text: '6:30 P.M.', value: 'C' },
                  { text: '7:00 P.M.', value: 'C' },

                ]

            },
            mounted: function () {

            },
            methods: {

            }
        })
    </script>
}