@model BE.medico

@{
   
}
<div class="row" style="margin-bottom:0;">

    <div class="col s12 m12 l12">
        <div class="card-panel">
            <div class="row" style="margin-bottom:0;">

                @ViewBag.usuario.persona.NombreCompleto<br />
                @*@Model.especialidad.Denominacion*@

            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").pickadate({ selectMonths: !0, selectYears: 50, format: 'dd/mm/yyyy' });
            var f = new Date();
            
        });

    </script>
}