<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1">Resumen</a></li>
            <li class="tab col s3"><a  href="#test2">Examenes</a></li>
            <li class="tab col s3 "><a href="#test3">Procedimientos</a></li>
            <li class="tab col s3"><a href="#test4">Atencion</a></li>
            <li class="tab col s3"><a href="#test5">Recetas</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">RESUMEN</div>
    <div id="test2" class="col s12">EXAMENEs</div>
    <div id="test3" class="col s12">PROCEDIMIENTOS</div>
    <div id="test4" class="col s12">ATENCION</div>
    <div id="test5" class="col s12">RECETAS</div>
</div>
@section scripts{
    <script type="text/javascript">
        var instance = M.Tabs.init(el, options);

        // Or with jQuery

        $(document).ready(function () {
            $('.tabs').tabs();
        });

    </script>
}