<!--start container-->
<main>
    <div class="container">

        <div id="mail-app" class="section">
            <div class="row">
                <div class="col s12">
                    <nav class="blue darken-2">
                        <div class="nav-wrapper">

                            <div class="left col s3 m3 l3">
                                <ul>
                                    <li>
                                        <a href="#!" class="email-menu"><i class="mdi-navigation-menu"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!" class="email-type">MEDICOS</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col s9 m9 l9 hide-on-med-and-down">
                                <form class="row">
                                    <div class="input-field">
                                        <input id="btnb" type="text" placeholder="Buscar Medico" autofocus>
                                        <label for="btnb">
                                            <i class="mdi-action-search"></i>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col s12" id="listaMedicos">


                    <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">

                        <ul class="collection">
                            <li  v-for="(medico,index) in medico" class="collection-item avatar  {<text>selected</text>}"
                                ondblclick="MostrarEditar({{medico.Especialidad}});"
                                onclick="$(this).addClass('selected').siblings().removeClass('selected');">
                                <span class="circle light-blue">L</span>
                                <span class="email-title">{{medico.TituloProfesional}}</span>
                                <p class="truncate grey-text ultra-small">{{medico.TituloProfesional}}</p>
                                <a class="secondary-content email-time"><span class="blue-text ultra-small">DNI {{medico.Especialidad}}</span></a>
                            </li>
                        </ul>

                        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                            <a class="btn btn-floating btn-large red" href='@Url.Action("Mantener","Medico",new { id=0 })'>
                                <i class="mdi-social-person-add"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>



        </div>
    </div>
</main>
<!--end container-->

@section scripts{
    <script>
        var vmedico = new Vue({
            el: 'main',
            data: {
                medico: {}
            },
            mounted: function () {
                var self = this;
                $.get('@Url.Action("ObtenerMedico", "Medico")', {}, function (d) {
                    self.medico = d;
                });
            },
        })


    </script>
}