<!--breadcrumbs start-->
<main>
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">GESTIÓN DE MÉDICO</h5>
                    <ol class="breadcrumbs">
                        <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                        <li><a href="@Url.Action("Index","Persona")">Personas</a></li>
                        <li class="active">Mantenimiento</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <div id="default-validation" class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">DATOS PERSONALES</h4>
                    <div class="row">
                        <form id="formValidate" class="validar" method="post">
                            <input type="hidden" v-model="persona.PersonaId" name="PersonaId" />
                            <div class="row">
                                <div class="input-field col s12 m4 l3">
                                    <i class="mdi-action-picture-in-picture prefix"></i>
                                    <label>DNI*</label>
                                    <input onkeypress="return pulsar(event)" v-model="persona.DNI" type="number" minlength="8" maxlength="8" v-on:keyup.enter="sendToServer" required>
                                    @*<button v-on:click="sendToServer">...</button>*@
                                </div>
                                <div v-if="estadoPersona == true" id="persona">
                                    <div class="input-field col s12 m4 l3">
                                        <i class="mdi-action-account-circle prefix"></i>
                                        <label class="active" for="Nombres">Nombres*</label>
                                        <input type="text" v-model="persona.Nombres" required placeholder="">
                                    </div>
                                    <div class="input-field col s12 m4 l3">
                                        @*<i class="mdi-action-account-circle prefix"></i>*@
                                        <label class="active" for="Paterno">Ape. Paterno*</label>
                                        <input type="text" required v-model="persona.Paterno" placeholder="">
                                    </div>
                                    <div class="input-field col s12 m4 l3">
                                        @*<i class="mdi-action-account-circle prefix"></i>*@
                                        <label class="active" for="Materno">Ape. Materno*</label>
                                        <input type="text" v-model="persona.Materno" placeholder="">
                                    </div>
                                </div>

                                <div class="input-field col s12 m4 l4">
                                    @*<i class="mdi-action-picture-in-picture prefix"></i>*@
                                    @*<label class="active" for="Nombres">ESPECIALIDAD*</label>
                                    <v-select v-model="selectedMedico" label="NombreEspecialidad" :options="especialidades"></v-select>*@
                                    @Html.DropDownList("cboEspecialidad")
                                    <label for="Medico_EspecialidadId">Especialidad</label>

                                </div>

                                <div class="input-field col s12 m4 l4">
                                    @*<i class="mdi-action-account-circle prefix"></i>*@
                                    <label class="active" for="Nombres">TIEMPO CONSULTA*</label>
                                    <select @*v-model="TiempoSelected"*@>
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="15">15 minutos</option>
                                        <option value="25">25 minutos</option>
                                        <option value="30">30 minutos</option>
                                    </select>

                                </div>
                                <div class="input-field col s12 m4 l4">
                                    @*<i class="mdi-action-account-circle prefix"></i>*@
                                    <label for="numeroColegio">NÚMERO COLEGIO*</label>
                                    <input v-model="medico.NumeroColegio" id="numeroColegio" name="numeroColegio" type="text">

                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <i class="mdi-action-settings-cell prefix"></i>
                                    <label for="Celular">TITULO PROFESIONAL</label>
                                    <input v-model="medico.TituloProfesional" type="text" minlength="9">

                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <i class="mdi-communication-email prefix"></i>
                                    <label for="Correo">UNIVERSIDAD</label>
                                    <input v-model="medico.Universidad" type="text">

                                </div>

                                <div class="input-field col s1 m4 l4">
                                    <i class="mdi-notification-event-note prefix"></i>
                                    <label class="active" for="FechaColegio">FECHA COLEGIACIÓN*</label>
                                    <input required v-model="medico.FechaColegio" type="text" class="datepicker" placeholder="">

                                </div>

                                <div class="input-field col s12 m3 l12">
                                    <button v-on:click="guardarMedico" class="btn waves-effect waves-light right" @*type="submit"data-ajax="true"*@>
                                        Guardar
                                        <i class="mdi-action-done right"></i>
                                    </button>
                                </div>

                            </div>
                        </form>











                    </div>
                </div>
            </div>

        </div>


    </div>
</main>
@section scripts{
    <script>
        function pulsar(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            return (tecla != 13);
        }
    </script>

    <script type="text/javascript">
        Vue.component("v-select", VueSelect.VueSelect);
        $(function () {
            $(".datepicker").pickadate({ selectMonths: !0, selectYears: 50, format: 'dd/mm/yyyy' })
        });


        var vmedico = new Vue({
            el: 'main',
            data: {
                selectedMedico:'',
                medico: {},
                persona: {},
                estadoPersona: false,
                especialidades: [],
            },

            
            mounted: function () {
                this.$nextTick(function () {
                    axios.get('/clinica/Especialidad/Obtenerespecialidad', {
                    })
                .then(response => {
                    this.especialidades = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
                }),
                this.medico.FechaColegio = "09/02/2018";
                @*$.get('@Url.Action("Obtenerespecialidad", "Especialidad")', {}, function (d) {
                    self.especialidades = d;
                });*@
            },


            methods: {

                guardarMedico: function () {
                    if (this.persona.PersonaId > 0) {
                        this.medico.PersonaId = this.persona.PersonaId;
                    }
                    else {
                        this.medico.PersonaId = 0;
                    }
                    this.medico.MedicoId = 0;

                    this.medico.Especialidad = "xxxxxxxx",
                    this.medico.TiempoConsulta = "xxxxxxx",
                    //alert(JSON.stringify(this.medico));
                    axios.post('/clinica/Medico/GuardarMedico', {
                        med: this.medico,
                        per: this.persona,
                        href: "",
                    })
                      .then(response => {
                          console.log(response);
                      })
                      .catch(function (error) {
                          console.log(error);
                      });


                },

                sendToServer: function () {
                    var dni2 = this.persona.DNI;
                    axios.get('/clinica/Persona/ObtenerPersona', {
                        params: {
                            dni: this.persona.DNI,
                        },
                    })
                        .then(response => {
                            this.estadoPersona = true;
                            if (response.data) {
                                this.persona = response.data;
                                $('#numeroColegio').focus();
                            }
                            else {
                                this.persona = {};
                                this.persona.PersonaId = 0;
                                this.persona.DNI = dni2;
                            }
                        })
                         .catch(function (error) {
                             console.log(error);
                         });
                }


            },

        })


    </script>
}
